@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: idroid;
        src: url(../fontes/idroid.otf) format(OpenType);
    font-style: normal;
    font-weight: normal;
}

:root{
    --fonte-padrao: Arial. Verdana, Helvetica, sans-serif;
    --fonte-destaque:"Bebas Neue", sans-serif;
    --fonte-idroid: 'idroid', sans-serif;
}

* {
margin: 0px;
padding: 0px;
min-width: 280px;
}

body{
    background-color:#E7E5C3;
    font-family: var(--fonte-padrao);
}

header {
    background-image: linear-gradient(to top ,#09301A, #0F532B,#1E8D51);
    min-width: 280px;
    text-align: center;
    height: 130px;
    color: rgb(255, 255, 255);
    box-shadow: 2px 1px 3px black;
    padding: 20px 0px 20px 0px;
}

header h1 {
    font-family: var(--fonte-destaque);
    font-size: 3.2em;
    font-weight: bolder;
    margin-bottom: 20px;
    text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.808);
}

header p {
    font-size: 20px;
    max-width: 500px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.808);
    margin-bottom: 20px;
}

nav {
    padding: 70px 10px 10px 10px ;
    background-image:linear-gradient(to top,#051a0e, #09301a )  ;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.397);
}

nav > a{
    color:#125732;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    transition-duration: 1s;
}

nav > a:hover{
    color: #061f10;
    background-color: #125732;
    text-decoration: underline;
}

main {
    min-width: 300px;
    max-width: 1000px; 
    margin: auto;
    background-color: rgb(255, 255, 255);
    text-align: justify;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.548);
    padding: 20px 50px;
    display: block;
}

main h1 {
    font-family: idroid;
    color: #09301A;
    padding-left: 10px;
    padding-top: 0px;
    font-size: 1.8em;
}

main h2 { 
    font-family: var(--fonte-idroid);
    background-image: linear-gradient(to right,#3b9e64c7,transparent);
    padding-left: 5px;
    color: #09301A;
    font-size: 23px;
}

main p{
    text-indent: 30px;
    line-height: 1.7em;
    font-family: var(--fonte-padrao);
    font-size: 1.1em;
    font-weight: 500;
    margin: 12px 0px;
}

main strong{
    color: #09301A;
    font-weight: bold;
    padding: 2px 5px;
}

main img {
    display: block;
    margin: auto;
    width: 100%;
}

main img.pequena{
    width: 30%;
}

main a{
    font-weight: bold;
    color: #09301A;
    background-color:#3b9e64c7;
    text-decoration: none;
}

a.externo:after{
    content: '\00A0\1F517';
}

article{
    padding: 0px 20px 20px 20px;
}

div.video{
    background-color: #061f10;
    padding: 20px;
    padding-bottom: 59%;
    margin: 0px -40px 30px -40px;
    position: relative;
    display: block;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: #4c9b71;
    border-radius: 10px;
    font-weight: 700;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.295);
    padding: 10px 20px 10px 20px;
    margin: auto;
    overflow: hidden;
    display: block;
}

aside  h2 {
    font-family: var(--fonte-idroid);
    color: 09301A;
    background-image: linear-gradient(to right,#9dccb0c7,transparent);
    margin: -10px -10px 0px -20px;
    border-radius: 10px 10px 0px 0px ;
    padding: 8px;
}
aside ul.lista-dois-colunas{
    column-count: 2;
    column-gap: 70px; 
}
.lista-dois-colunas>li {
    
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    display: block;
    
}

footer{
    padding: 5px;
    background-color: #061f10;
    min-width: 300px;
    margin-top: 20px;
}

footer p {
    text-align: center;
    font-size: 16px;
    font-weight: 900;
    font-style: oblique;
    padding: 0px;
}
